:root {
    --light-color: lightgray;
    --mid-color: slategray;
    --dark-color: darkslategray;
    --link-color: var(--dark-color);
    --border-color: var(--light-color);
    --padding: 1em;
}

/* GLOBAL DEFAULTS */

* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--dark-color);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

header,
main,
aside,
article,
footer
section.contact {
    padding: var(--padding);
}

header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
b {
    font-weight: 500;
}
a {
    color: var(--link-color);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    border-top: 1px solid var(--border-color);
    list-style-type: none;
}

p {
    margin: 0 0 var(--padding) 0;
}


/* ROW: gives us the 2 column layout */

.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: stretch;
    align-items: flex-start;
}
.row aside {
    flex: 1 1 25%;
}
.row article {
    flex: 1 3 50%;
}
.row ul {
    flex: 1 1 33%;
    margin-bottom: var(--padding);
    padding: 0 .25em .25em .25em;
}

.column {
    flex: 1;
}

/* OVERVIEW single line list items */

.summary li {
    white-space: nowrap;
}


/* space beteen child elements */

.job-overview h2,
.mini-history li,
.mini-history h3 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.mini-history li>h3,
.mini-history li>span {
    flex: 1 1 50%;
    padding: .25em;
}


/* used to make year a lighter color */

h2 span,
h3 span {
    color: var(--mid-color);
}


/* JOB */

.job {}

.job-overview {}


/* TECH TAGS */

.tags span {
    line-height: 1.8;
    padding: .2em .4em;
    background: var(--light-color);
    white-space: nowrap;
    text-transform: lowercase;
}

.job-list li {
    padding: .5em 0;
    list-style: disc;
}

.toolbar {
    position: fixed;
    bottom: 0;
    right: 0;
}


.button {
    display: flex;
    align-items: center;
    opacity: 1;
    border: 1pt solid var(--border-color);
    padding: 0;
    background-color: var(--light-color);
    box-shadow: 0 0 0px -0px rgba(0,0,0,0.25);
    transition: all 0.25s cubic-bezier(0.88,-0.01, 0.27, 1.08);
    transform: translateX(calc(100% - (40px)));
}
.button:focus,
.button:hover {
    opacity: 1;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.25);
    transform: translateX(0%);
}

.button-icon {
    flex: 0;
    min-width: 40px;
    display: block;
    text-align: center;
    padding: 10px 5px;
}

.button-text {
    flex: 1;
    min-width: 40px;
    display: block;
    text-align: center;
    line-height: 20px;
    padding: 10px 10px 10px 2px;
}

/* flip to single column layout */

@media only screen and (max-width: 700px) {
    .row, 
    .mini-history li {
        flex-direction: column;
        align-items: stretch;
    }
    .row ul {
        flex: 1 1 50%;
    }
    .row .row {
        flex-direction: row;
    }
}