@page {
    margin: 10pt;
}

body {
    font-size: 9.4pt;
}

a:not(.contact):after {
    content: " (" attr(href) ")";
}

h1,
h2,
h3 {
    break-after: avoid;
    page-break-before: auto;
    page-break-after: avoid;
}

.summary,
.job,
li,
p {
    page-break-inside: avoid;
    font-size: 80%;
}

.tags span {
    font-size: smaller;
    border: 1pt solid var(--border-color);
    line-height: 2.2;
}

button, .button {
    display: none;
}